* {
      box-sizing: border-box;
      margin: 0;
}

.welcome-image{
      text-align: center;
      margin: 0px;
      
}

.heading{
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      border : 3px solid blue;
      margin-left: 200px;
      margin-right: 200px;
      padding : 10px;

}

.description{
      font-family: 'Comic Sans MS',sans-serif,'Times New Roman';
      font-size: 30px;
      margin: 40px;
      background-color: rgb(248, 226, 100);
      padding: 5px;
}

ul {
      display: inline;
}

.cake{
      margin : 40px;
}

.spaghetti{
      margin: 40px;
}

.fried-rice{
      margin: 40px;
}

span {
      font-size: 20px;
}

button{
      margin-left: 80px;
      background-color: rgba(215, 254, 255, 0.762);
}

.container{
      margin : 40px 300px 40px;
      border : 3px, solid, black;
      padding : 40px;
      text-align: center;

}

.Ing{
      text-align:left ;
      margin-left: 150px;
}

.list{
      margin-left: 190px;
}

ol{
      text-align: left;
}

.homepage{
      margin-left: 0px;
}

h2{
      margin:10px;
}

